.container{
    margin-top: 28dvh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    display: grid;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.632) 10%,
      rgba(0, 0, 0, 0.078)
    ),
    url("/ticket-motif.png");
  
  background-size: auto;
  background-repeat: repeat;
}

.title p:nth-child(1){
    font-size: 2rem;
    font-weight: 600;
}
.title .desc{
    color: rgb(170, 170, 170);
}
.transaction{
    
    border: solid gray 1px;
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    padding: 10px;
  
    z-index: 70;
}
.quantity{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 200px;
    height: 60px;
}
.button{
    background: #1db954;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    font-size: xx-large;
    border: none;
    outline: none;
}
.buy{
    background: #1db954;
    width: 140px;
  
    display: grid;
    place-content: center;
    border-radius: 10px;
    height: 50px;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 678px) {
    .container{
        width: 100%;
    }
    .buy p{
        display: none;
    }
    .title{
        padding: 10px;
    }
    .buy{
        width: 60%;
    }
    .transaction{
        flex-direction: column;
        align-items: center;
        height: 400px;
        gap: 50px;
    }
}
.disabled{
    cursor: default;
    background: #1db95474;
}